.main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 20px;
    background: #eec643;
}
#options__title {
    color: #011638;
    margin: 3em auto;
    width: 40em;
}
#options__img {
    width: 6em;
    height: auto;
    float: left;
}
.options__card--wide {
    width: 500px;
    margin: 0 auto;
}

.option {
    margin: 20px;
    width: fit-content;
    padding-right: 20px;
}
