@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    color: #ddd;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    
    background: url('bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#cover {
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 9999;
    position: fixed; 
    margin: 0;
    padding: 0;
    top:0;
    left: 0; 
}

.semi-transparent {
    background-color: rgba(0, 0, 0, 0.5);
}

#sidenav {
    height: 100%;
    width: 305px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -315px;
    padding: 10px 10px 10px 10px;
}

#main {
    margin-left: 325px;
}

.card {
    vertical-align:top;
    
    margin: 4px;
    
    text-align: left;
    font-size: 1.5em;

    display: inline-block;
    padding: 0px 10px 10px 10px;
}

.card ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card h1 {
    text-align: center;
    font-weight: 700;
    font-size: 1.2em;
    margin: 10px 0 5px 0;
}

.note {
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 350px;
}

a:link {
    text-decoration: underline;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

a:active {
    text-decoration: none;
    color: inherit;
}

.weather {
    margin-top: 0px;
    padding: 0px;
}

#weather-temp {
    display: inline-block;
    vertical-align: top;
    font-size: 3em;
    line-height: 100px;
    margin: 0px;
}

#weather-location {
    display: inline-block;
    font-size: 1.5em;
    margin: 0px;
}

#weather-img {
    display: inline-block;
    margin: 0px;
}

#clock-time {
    display: inline-block;
    font-size: 3em;
}

#clock-date {
    font-size: 1.5em;
}

.quote {
    font-size: 1.2em;
    max-width: 300px;
}

#quote-of-the-day-quote {
    font-style: italic;
}

#quote-of-the-day-author {
    margin-top: 10px;
    font-style: bold;
}

hr {
    margin: 10px;
    border: 0;
    height: 2px;
    background: #333;
    background-image: linear-gradient(to right, #fff, #555);
    opacity: 0.4;
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #f5a, 0 0 40px #f5a, 0 0 50px #f5a, 0 0 60px #f5a, 0 0 70px #f5a, 0 0 80px #f5a;
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.slide {
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

#loader {
    top: 30%;
    left: 50%;
    position: fixed;
    margin-top: -60px;
    margin-left: -60px;
    border: 1px solid #333;
    border-top: 1px solid #fff;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}
