.nfl {
    font-size: 1.1em;
}

.nfl-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nfl-item {
    margin: 0;
}

.nfl-winner {
    border-bottom: 3px solid #fff;
}

#nfl-game-time {
    font-weight: 900;
}
