.main {
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow: scroll;
    margin: 0;
    background: #f1d065;
}

#options__title {
    color: #011638;
    margin: 3em auto;
    width: 40em;
}
#options__img {
    width: 6em;
    height: auto;
    float: left;
}
.options__card {
    width: 500px;
    margin: 0 auto;
    padding: 3em;
}

.option {
    width: fit-content;
    padding-right: 20px;
}

.option-switch {
    margin-bottom: 1em;
}

form {
    margin: 0;
}
